Package: raspwave
Version: 1.1-010415000951
Section: base
Priority: optional
Architecture: all
Depends: 
Maintainer: Rouble Matta <r.ouble@gmail.com>
Description: Raspberry Pi Zwave Automation
 This project brutally simplifies home automation
 using Raspberry Pi and Zwave
